@import "tailwindcss";

/* optional: inline v4 config */
@theme {
  --color-brand: okhsl(210 50% 45%);
}
.logo-cls{
  font-family: "Pacifico", cursive;
  font-weight: 100;
  color: slateblue;
  font-size: 24px;
}